*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
header{
    background-color: #212529 ;
    color: white;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 56px;
}
header span{
    font-size: 19.74px;
    line-height: 30px;
}
header ul{
    width: 1151px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
header ul li{
    cursor: pointer;
    font-size: 15.61px;
    line-height: 24px;
    list-style: none;
    margin-top: 16px;
}
header ul li:nth-of-type(2){
    color: #ffffff;
    opacity: 0.55
}
.navList li:hover{
    color: #ffffff;
    opacity: 0.55
}
nav{
  display: flex;
  align-items: center;
}
.container{
    margin-top: 24px;
    border-radius: 6px;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
    width:1296px ;
    height: 679px;
    padding: 25px !important;
}
.user{
  font-size: 10px;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: 30px !important;
  cursor: pointer;
}


main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
footer{
    background-color: #212529 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}
main h1{
    color: #212529;
    font-size: 23.59px;
    line-height: 28.8px;
    font-weight: medium;
}
main h2{
    font-weight: medium;
    color: #212529;
    font-size: 19.77px;
    line-height: 24px;
}
.options{
    margin-top: 24px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}
.options button{
    cursor: pointer;
    background-color: #0D6EFD;
    color: #ffffff;
    width: 150px;
    height: 38px;
    font-size: 15.76px;
    line-height: 24px;
    border: none;
    border-radius: 6px;
}
.options input{
    border: 2px solid #DEE2E6;
    width: 433px;
    height: 38px;
    border-radius: 6px;
    font-size: 15.73px;
    line-height: 26px;
    color: #A9A9A9;
    padding-left: 13px;
}
table{
    margin-top: 8px;
    width: 100%;
    max-height: 474px;
    color: #212529;
    border-collapse: collapse !important;
    border: 1px solid #DEE2E6;
    border-spacing: 0;
}
td{
    border-bottom: 1px solid #edeff1 !important;
}
.tHead{
    font-weight: bolder;
    line-height: 24px;
    background-color: #212529;
    color: #FFFFFF;
    height: 41px;
   
}
.td1{
    text-align: center;
    width: 91px;
}
.td2{
    padding-left: 8.5px;
    width: 927px;
    border-right: 3px solid #8c8d8d75;
    border-left: 3px solid #8c8d8d75;
}
.td3{
    text-align: center;
}

.normalRow{
    height: 48px;
}
.fix{
    background-color: #FFC107;
    border-radius: 4px;
    height: 31px;
    border: none;
    width: 61px;
}
.del{
    background-color: #DC3545;
    border-radius: 4px;
    height: 31px;
    border: none;
    width: 41px;
    color: #ffffff;
    margin-left: 5px;
}
.detail{
    background-color: #0D6EFD;
    border-radius: 4px;
    color: #ffffff;
    height: 31px;
    border: none;
    width: 61px;
    margin-left: 5px;
}
.search{
    color: #212529 !important;
}
@keyframes modalOpen{
  from{
    opacity: 0%;
    transform: scale(0.8);
  }
  to{
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes modalClose{
  from{
    opacity: 100%;
    transform: scale(1);
  }
  to{
    opacity: 0%;
    transform: scale(0.8);
  }
}
/* them sua modal */
.fixAddModal{
    display: none !important;
position: fixed;
top: 33px;
left: 50%;
transform: translateX(-50%);
   background-color: white !important;
   width: 480px;
   height: 378px;
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   z-index: 1000 !important;
 
}
.fixAddModal div{
    padding: 0px 16px;
    background-color: white !important;
}
.modalTitle{
    height: 63px;
    padding-left: 20px !important;
    padding-top: 25px !important;
    padding-right: 20px !important;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalTitle p{
    padding: 0px;
    color: #212529;
    background-color: white !important;
    line-height: 10px;
    font-weight: 600;
    font-size: 24px;
}
.modalTitle i{
    color: #818181;
    font-size: 24px;
    background-color: white !important;
    cursor: pointer;
    margin-bottom: 15px;
}
.modalContent{
    border-top: 1px solid rgba(63, 67, 80, 0.16);
    border-bottom: 1px solid rgba(63, 67, 80, 0.16);
    display: flex;
    flex-direction: column;
    height: 238px;
    
    align-items: center;
}

.modalContent .container{
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    width: 432px;
    height: 202px;  
   border: none;
    box-shadow: none !important;
}
.modalContent label{
    background-color: white !important;
    font-size: 16;
    line-height: 18px;
    color: #344054;
    font-weight: medium;
}
.modalContent label:nth-of-type(2){
    margin-top: 5px;
}
.modalInvalid{
    background-color: white !important;
    font-size: 12px;
    display: none ;
    color: #DC3545;
}
.modalContent input{
   padding: 0px 10px;
    border: 2px solid rgba(63, 67, 80, 0.16);
    border-radius: 8px;
    min-height: 44px;
    background-color: white !important;
}
.modalContent textarea{
    padding: 0px 10px;
    border-radius: 8px;
    min-height: 88px;
    border: 2px solid rgba(63, 67, 80, 0.16);
    background-color: white !important;
}
.modalOptions button{
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    height: 37px;
    width: 58px;
    border: none;
    border-radius: 8px;
}
.modalOptions .save{
background-color: #0D6EFD;;
}
.saveFix{
    background-color: #0D6EFD;;
}
#toHome{
    cursor: pointer;
}
button{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.modalOptions .cancel{
    background-color: #6C757D;
}
.modalOptions .optionsContainer{
    margin-top: 30px;
    margin-left: 290px;
    width: 165px;
   display: flex;
  justify-content: space-between;
}

/* modal delete */
.modalDelete{
    display: none !important;
    height: 230px;
}
.modalDelete .deleteTask{
    background-color: #DC3545;
}
.delete_content{

    border-top: 1px solid rgba(63, 67, 80, 0.16);
    border-bottom: 1px solid rgba(63, 67, 80, 0.16);
    display: flex;
    flex-direction: column;
    min-height: 85px;
    justify-content: center;
    padding-left:20px !important;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: none;
    z-index: 9; 
}
.modal_show{
    display: flex !important;
}
.overlayToggle{
    display: block;
}
.border_invalid{
    border-color: #DC3545 !important;
}
.activePage{
    color: red !important;
}
.pagination .page-item {
    display: inline-block;
    margin: 0 4px;
  }
.pagination .page-link {
    display: inline-block;
    padding: 8px 14px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.2s ease;
    border: 1px solid #ddd;
  }
.pagination .page-link:hover {
    background-color: #007bff;
    color: white;
  }
.pagination .activePage {
    background-color: #007bff;
    color: white !important;
    font-weight: bold;
    border: 1px solid #007bff;
  }
  body, header, footer, main, h1, h2, input, td, .pagination .page-link {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  /* dark mode */
  .dark-mode{
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .dark-mode footer, .dark-mode header{
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #f7971e;
    color: #212529;
  }
  .dark-mode main{
    background-color: #18181a ;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .dark-mode h1{
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .dark-mode h2{
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .dark-mode input{
    background-color: #202327fe;
    border: 1px solid white;
    color: #212529;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .dark-mode input::placeholder {
    color: white;
  }
  .dark-mode td{
    background-color: #3b3d43;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .dark-mode .tdHead{
    background-color: #f7971e !important;
    color: #0b0b0c;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .dark-mode .pagination .page-link {
    display: inline-block;
    padding: 8px 14px;
    background-color: #48484c;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.2s ease;
    border: 1px solid #48484c;
  }
  .dark-mode .pagination .activePage {
    background-color: #f7971e;
    color: #0b0b0c !important;
    font-weight: bold;
    border: 1px solid #f7971e;
  }
  .dark-mode .pagination .page-link:hover {
    background-color: #f7971e;
    color: #0b0b0c;
  }
  .dark-mode .fa-moon{
    transition: background-color 0.5s ease, color 0.5s ease;
    color: #212529;
  }
  .dark-mode .taskNameInput{
    border: 2px solid rgba(63, 67, 80, 0.16) ;
  }
  .dark-mode .search{
    color: white !important;
  }
  .dark-mode .fixAddModal{
    background-color: #f7971e !important; 
    border: 2px solid #494747 !important;

  }
  .dark-mode .modalTitle, .dark-mode .modalOptions, .dark-mode .optionsContainer{
    background-color: #f7971e !important; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .dark-mode .modalTitle p{
    background-color: #f7971e !important; 
  }
  .dark-mode .fa-xmark{
    color: white !important;
    background: transparent !important;
  }
  .dark-mode .modalContent{
    border: 1px solid #ff944d !important;
    background-color: #494747 !important;
  }
  .dark-mode label{
    background-color: #494747 !important;
    color: white;
  }
  .dark-mode .modalContent .container{
    background-color: #494747 !important;
  }
  .dark-mode .modalInvalid{
    background-color: #494747 !important;
    color: #ff4d4d ;
  }
  .dark-mode .taskNameInput {
    color: white !important;
    background-color: #666565 !important;
    border: 2px solid #ff944d !important;
  }
  .dark-mode textarea {
    color: white !important;
    background-color: #666565 !important;
    border: 2px solid #ff944d !important;
  }
  .dark-mode .border_invalid{
    border: 2px solid #DC3545 !important;
  }
  .dark-mode .delete_content{
    color: white !important;
    border: 1px solid #ff944d !important;
    background-color: #494747 !important;
  }
  
 