*{
    padding: 0;
    margin: 0;
    background-color: rgb(218, 214, 214);
}
body{
    display: flex;
    justify-content: center;
}
@keyframes fadeZoomIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes fadeZoomOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.8);
    }
  }
.fixAddModal{
    position: fixed;
    top: 33px;
    background-color: white !important;
    width: 480px;
    height: 378px;
    flex-direction: column;
    border-radius: 8px;
    z-index: 1000;
    animation: fadeZoomIn 0.3s ease;
}
.modalHide{
    animation: fadeZoomOut 0.3s ease;
}
.fixAddModal div{
    padding: 0px 16px;
    background-color: white !important;
}
.modalTitle{
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modalTitle p{
    padding: 16px;
    color: #212529;
    background-color: white !important;
    line-height: 30px;
    font-weight: 600;
    font-size: 24px;
}
.modalTitle i{
    color: #818181;
    font-size: 24px;
    background-color: white !important;
    cursor: pointer;
}
.modalContent{
    border-top: 1px solid rgba(63, 67, 80, 0.16);
    border-bottom: 1px solid rgba(63, 67, 80, 0.16);
    display: flex;
    flex-direction: column;
    min-height: 218px;
    justify-content: center;
    align-items: center;
}

.modalContent .container{
    display: flex;
    flex-direction: column;
    width: 432px;
    height: 202px;
}
.modalContent label{
    background-color: white !important;
    font-size: 16;
    line-height: 20px;
    color: #344054;
    font-weight: medium;
}
.modalContent label:nth-of-type(2){
 margin-top: 5px;
}
.modalInvalid{
    background-color: white !important;
    font-size: 12px;
    display: none;
}
.modalContent input{
    border: 2px solid rgba(63, 67, 80, 0.16);
    border-radius: 8px;
    min-height: 44px;
    background-color: white !important;
}
.modalContent textarea{
    border-radius: 8px;
    min-height: 88px;
    border: 2px solid rgba(63, 67, 80, 0.16);
    background-color: white !important;
}
.modalOptions button{
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    height: 37px;
    width: 58px;
    border: none;
    border-radius: 8px;
}
.modalOptions .save{
background-color: #0D6EFD;
}
.modalOptions .cancel{
    background-color: #6C757D;
}
.modalOptions .container{
    margin-top: 30px;
    margin-left: 290px;
    width: 139px;
    display: flex;
    justify-content: space-between;
}
.open{
    width: 50px;
    height: 50px;
    background-color: green;
    cursor: pointer;
}