*{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
header{
    background-color: #212529 ;
    color: white;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 56px;
   
}
header span{
    font-size: 19.74px;
    line-height: 30px;
}
header ul{
    width: 1151px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
header ul li{
    cursor: pointer;
    font-size: 15.61px;
    line-height: 24px;
    list-style: none;
    margin-top: 16px;
}
header ul li:nth-of-type(1){
    color: #ffffff;
    opacity: 0.55
}
footer{
    background-color: #212529 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
   
}
main{
    color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 24px;
    width: 1296px;
    border-radius: none;
    display: flex;
    flex-wrap: wrap;
}
.contentInfos{
    width: 50%;
    max-height: 197px;
}
.container h1{
    font-size: 23.54px;
    line-height: 28.8px;
    font-weight: medium;
}
.container p{
    margin-top: 16px;
    margin-bottom: 48px;
}
.addTask{
border-radius: 6px;
border: none;
background-color: #0D6EFD;
color: #ffffff;
width: 155px;
height: 38px;
font-size: 15.81px;
line-height: 24px;
}
.members-options{
    width: 50%;
    max-height: 197px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title_add{
    align-self: flex-end;
    height: 31px;
    margin-bottom: 16px;
    width: 386px;
    display: flex;
    justify-content: space-between;
}
.title_add h3{
font-size: 19.04px;
color: #212529;
line-height: 24px;
font-weight: medium;
}
.title_add button{
font-size: 13.86px;
line-height: 21px;
color: #6C757D;
width: 132px;
border-radius: 4px;
border: 2px solid #6C757D;
background-color: #ffffff;
}
#toHome{
    cursor: pointer;
}
.options{
    display: flex;
    gap: 16px;
    margin-top: 48px;
    height: 54px;
    width: 386px;
}
.headTitleContainer{
    
    width: 70%;
}
.headTitle{
    color: #212529;
    font-size: 25px;
    font-weight: 550;
}
.options select{
    padding-left: 6px;
    width: 150px;
    height: 38px;
    border-radius: 6px;
    border: 2px solid #DEE2E6;
    position: relative;
}
.options input{
    width: 220px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #DEE2E6;
    padding-left: 13px;
}
.infoTable{
    padding: 17px;
    border-radius: 6px;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    width: 1296px;
    margin-bottom: 95px;
    min-height: 345px;
}
.infoTable h2{
    font-size: 19.72px;
    color: #212529;
}
.col1{
    width: 406px;
}
.col2{
    width: 121px;
}
.col3{
    width: 177px;
}
.col4{
    width: 168px;
}
.col5{
    width: 168px;
}
.col6{
    width: 206px;
}
th{
    background-color: #F8F9FA;
    height: 41px;
    text-align: center;
    border: 1px solid #d4dadd !important;
    font-weight: bolder;
    color: #000000 !important;
}
table{
    border-collapse: collapse;
    border: 1px solid #DEE2E6;
    padding: 0;
    width: 100%;
    text-align: center;
}
td{
    height: 48px;
    border: 1px solid #d4dadd !important;
    vertical-align: middle;
}
.navList li:hover{
    color: #ffffff;
    opacity: 0.55
}
summary{
    height: 48px;
    border: 1px solid #d4dadd !important;
    padding-top: 14px;
    padding-left: 20px;
}
.low{
    color: #ffffff;
    background-color: #0DCAF0;
    width: 42px;
    height: 20px;
    font-weight: bolder !important;
    border-radius: 6px;
    display: inline-block;
    font-size: 12px;
   padding-top: 1px;
}
.medium{
    color: #ffffff;
    background-color: #FFA500;
    width: 70px;
    height: 20px;
    font-weight: bolder !important;
    border-radius: 6px;
    display: inline-block;
    font-size: 12px;
   padding-top: 1px;
}
.high{
    color: #ffffff;
    background-color: #DC3545;
    width: 36px;
    height: 20px;
    font-weight: bolder !important;
    border-radius: 6px;
    display: inline-block;
    font-size: 12px;
   padding-top: 1px;
}
.risk{
        color: #ffffff;
        background-color: #FFA500;
        width: 60px;
        height: 20px;
        font-weight: bolder !important;
        border-radius: 6px;
        display: inline-block;
        font-size: 12px;
        padding-top: 1px;
}
.noRisk{
    color: #ffffff;
    background-color: #198754;
    width: 83px;
    height: 20px;
    font-weight: bolder !important;
    border-radius: 6px;
    display: inline-block;
    font-size: 12px;
    padding-top: 1.5px;
}
.behind{
    color: #ffffff;
    background-color: #DC3545;
    width: 55px;
    height: 20px;
    font-weight: bolder !important;
    border-radius: 6px;
    display: inline-block;
    font-size: 12px;
    padding-top: 1px; 
}
.col4, .col5{
    color: #0D6EFD;
}
.fix{
    background-color: #FFC107;
    border-radius: 4px;
    height: 31px;
    border: none;
    width: 43px;
}
.del{
    background-color: #DC3545;
    border-radius: 4px;
    height: 31px;
    border: none;
    width: 43px;
    color: #ffffff;
    margin-left: 15px;
}
button:hover{
    transition: 0.5s linear;
    transform: scale(1.05);
}
/* modal them tvien*/
.addMemberModal{
    display: none !important;
}
.addMemberOptions{
    margin-top: 40px !important;
}
.fixAddModal{
    display: none !important;
    position: fixed;
    top: 33px;
   left: 530px;
   background-color: white !important;
   width: 480px;
   height: 378px;
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   z-index: 1000 !important;
 
}
.fixAddModal div{
    padding: 0px 16px;
    background-color: white !important;
}
.modalTitle{
    color: #344054;
    height: 63px;
    padding-left: 20px !important;
    padding-top: 25px !important;
    padding-right: 20px !important;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalTitle p{
    padding: 0px;
    color: #212529;
    background-color: white !important;
    line-height: 10px;
    font-weight: 600;
    font-size: 24px;
}
.modalTitle i{
    color: #818181;
    font-size: 24px;
    background-color: white !important;
    cursor: pointer;
    margin-bottom: 15px;
}
.modalContent{
    border-top: 1px solid rgba(63, 67, 80, 0.16);
    border-bottom: 1px solid rgba(63, 67, 80, 0.16);
    display: flex;
    flex-direction: column;
    min-height: 218px;
    justify-content: center;
    align-items: center;
}

.modalContent .container{
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    width: 432px;
    height: 202px;  
   border: none;
    box-shadow: none !important;
}
.modalContent label{
    background-color: white !important;
    font-size: 16;
    line-height: 20px;
    color: #344054;
    font-weight: medium;
}
.modalContent label:nth-of-type(2){
    margin-top: 35px;
}
.modalInvalid{
    background-color: white !important;
    font-size: 12px;
    display: none;
    color: #DC3545;
}
.modalContent input{
    border: 2px solid rgba(63, 67, 80, 0.16);
    border-radius: 8px;
    min-height: 44px;
    background-color: white !important;
}
.modalContent textarea{
    border-radius: 8px;
    min-height: 88px;
    border: 2px solid rgba(63, 67, 80, 0.16);
    background-color: white !important;
}
.modalOptions button{
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    height: 37px;
    width: 58px;
    border: none;
    border-radius: 8px;
}
.modalOptions .save{
background-color: #0D6EFD;;
}
.modalOptions .cancel{
    background-color: #6C757D;
}
.modalOptions .optionsContainer{
    margin-top: 20px;
    margin-left: 290px;
    width: 165px;
   display: flex;
  justify-content: space-between;
}
.fa-pen-to-square{
    color: #0d6dfdbe;
}
/* management modal */
.modalDelete{
    display: none;
    height: 230px;
}
.modalDelete .deleteTask{
    background-color: #DC3545;

}
.modalOptions{
    display: flex;
    justify-content: end;
    padding-top: 30px !important;
}
.confirmContainer{
    display: flex;
    gap: 15px;
    width: 200px !important;
}
.confirmBtn{
    background-color: #0D6EFD;
    width: 100px !important;
}
.delete_content{

    border-top: 1px solid rgba(63, 67, 80, 0.16);
    border-bottom: 1px solid rgba(63, 67, 80, 0.16);
    display: flex;
    flex-direction: column;
    min-height: 85px;
    justify-content: center;
    padding-left:20px !important;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: none;
    z-index: 9; 
}
.modal_show{
    display: flex !important;
}
.overlayToggle{
    display: block !important;
}
.border_invalid{    
    border-color: #DC3545 !important;
}
i{
    cursor: pointer;
}
.unfixable{
    color: #999898;
    cursor: not-allowed;
}
.fixable{
 transition: translate 0.3s ease, box-shadow 0.4s ease;
}
.fixable:hover{
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
i{
    background: transparent;
}
